.DS_Store
/_ini/dbswznm_ubuntu_mpsi
/_ini/wznmd_ubuntu_mpsi
/_ini/wznmopd1_ubuntu_mpsi
/_ini/wznmopd2_ubuntu_mpsi
/_rls/dbswznm_ubuntu_mpsi
/_rls/wznmd_ubuntu_mpsi
/_rls/wznmopd1_ubuntu_mpsi
/_rls/wznmopd2_ubuntu_mpsi
